* {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    line-height: 1.4;
    font-weight: 400;
    color: var(--color-text-main);
}

header {
    position: relative;
    z-index: 3;
    padding: 4px 0;
    background-color: var(--color-bg-header);
    border-bottom: 1px solid var(--color-border-1);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .5);
    user-select: none;
    display: block;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

a {
    text-decoration: none;
}

main {
    position: relative;
    z-index: 3;
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-self: auto;
    order: 0;
}

footer {
    position: relative;
    z-index: 3;
    padding: 8px 0;
    background-color: var(--color-bg-header);
    border-top: 1px solid var(--color-border-1);
    text-align: center;
    color: var(--color-link-1);
}

footer a {
    color: inherit;
    transition: all .15s;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
    display: block;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas,
caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption,
figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins,
kbd, label, legend, li, main, mark, menu, nav, object, ol, output, p, pre, q, ruby,
s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td,
tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

menu, ol, ul {
    list-style: none;
}

aside {
    padding: 8px 4px;
    flex: 0 0 238px;
    width: 238px;
    position: relative;
    z-index: 3;
    user-select: none;
}

li {
    display: list-item;
    unicode-bidi: isolate;
}

body:before {
    content: "";
    display: block;
    background-color: var(--color-bg-page);
    background-image: var(--color-bg-page);
    background-size: cover;
    background-attachment: fixed;
    background-position: 0 50%;
    background-repeat: no-repeat;
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.left_menu {
    color: var(--color-link-1);
    fill: var(--color-link-1);
    line-height: 1;
}

.left_menu a {
    transition: all .15s;
    color: inherit;
}

.left_menu .item_link_head .boosty span {
    color: var(--color-boosty);
}

.left_menu .item_link_head {
    display: flex;
}

.left_menu .item_link_1, .left_menu .item_link_head {
    display: flex;
    align-items: center;
    padding: 4px 8px;
    border: 1px solid var(--color-border-1);
    border-radius: 4px;
    background-color: var(--color-bg-1);
    position: relative;
    z-index: 2;
}

.left_menu .item_level_1 {
    display: block;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 4px;
}

.cont {
    order: 0;
    flex: 0 1 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 1596px;
    margin: 0 auto;
    padding: 0 8px;
    align-self: auto;
}

.block.block_100, .cont {
    width: 100%;
}

.header {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.header .header-logo {
    margin: 0 4px;
    position: relative;
    padding-right: 12px;
    font-weight: 700;
}

.header .header-logo:after {
    content: "";
    position: absolute;
    top: calc(50% - 10px);
    right: 0;
    background-color: rgba(236, 228, 217, 0.4);
    width: 2px;
    height: 20px;
}

.header .header-page_title {
    margin-right: 4px;
    padding-left: 8px;
    flex: 1 1 auto;
    font-weight: 400;
}

.header .header-logo a, .header .header-page_title a {
    color: inherit;
    transition: all .15s;
}

.header .header-logo, .header .header-page_title {
    font-size: 24px;
    color: var(--color-link-1);
}

.wrapper {
    max-width: 1596px;
    padding: 0 8px;
    margin: 0 auto;
}

.svg.svg-20 svg {
    width: 20px;
    height: 20px;
}

.svg svg {
    fill: inherit;
    transition: fill .15s;
}

.icon_dndsu, .icon_roll20 {
    width: 20px;
    height: 20px;
}

:root {
    --color-text-main: #141414;
    --color-bg-page: #2a2928;
    --color-bg-header: #212121;
    --color-border-1: #3f3e3b;
    --color-link-1: #ece4d9;
    --color-bg-1: #2e2e2e;
    --color-boosty: #d18f00;
}

::after, ::before {
    box-sizing: border-box;
}